.frame{
    position: absolute;
    width:50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: 1s;
}
h1{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(0, -50%);
    
}

h2{
    position: absolute;
    color:black;
    z-index: 9999;
    left: 85%;
    top: 40%;
    transform: translate(0, -50%);
}
.frame1{
    position: absolute;
    background-color: #FFC600;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: 1s;
    text-align: center;
}
.frame2{
    position: absolute;
    background-color: #FF00E4;
    
    width: 100%;
    height: 100%;
    z-index: 90;
    transition: 1s;
}
.frame3{
    position: absolute;
    background-color: #28FFBF;
    
    width: 100%;
    height: 100%;
    z-index: 80;
    transition: 1s;
}
.frame4{
    position: absolute;
    background-color: #9EDE73;
    
    width: 100%;
    height: 100%;
    z-index: 70;
    transition: 1s;
}
.frame5{
    position: absolute;
    background-color: #D2F6C5;
    
    width: 100%;
    height: 100%;
    z-index: 60;
    transition: 1s;
}


.extended{
    
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.extended0{
    margin-top:10%;
    margin-left:0%;
    transition: 1s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.extended1{ 
    margin-top:5%;
    margin-left:20%;
    transition: 1s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
.extended2{ 
    margin-top:0%;
    margin-left:40%;
    transition: 1s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
.extended3{ 
    margin-top:-5%;
    margin-left: 60%;
    transition: 1s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.extended4{ 
    margin-top:-10%;
    margin-left: 80%;
    transition: 1s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


